<footer class="site-footer">
  <span class="text">Software as leisure activity</span>
  <span class="separator"></span>
  <span class="text">Last updated on {{ mentions.lastScanned | date("MMMM d, yyyy") }}</span>
  <span class="separator"></span>
  <span class="text">Made by <a href="https://celinenguyen.com">Celine Nguyen</a> &times; <a href="https://claude.ai">Claude</a> &times; <a href="https://www.personalcanon.com/feed">RSS</a></span>
</footer>
