<header>
  <div class="header-content">
    <div class="header-text">
      <h1>
        All <span id="visible-count">{{ totalMentions }}</span> mentions of <span class="keyword">&ldquo;Proust&rdquo;</span> and <span class="keyword">&ldquo;In Search of Lost Time&rdquo;</span> in the <a href="https://www.personalcanon.com">personal canon</a> newsletter</span>
      </h1>
    </div>
      
  </div>
  {# <span id="post-count">{{ totalPosts }}</span> posts</p> #}
  {# <div class="toolbar">
    <input type="search" id="search" placeholder="Search mentions...">
  </div> #}
</header>
