<section class="post-group" data-post-url="{{ post.url }}">
  <div class="post-group-summary">
    {# TODO if there's no imageURL, replace with a grey box of some kind? #}
    {% if post.imageUrl %}
      <img class="post-group-image" src="{{ post.imageUrl }}" alt="" loading="lazy">
    {% endif %}
    <div class="post-group-text">
      <div class="post-group-title-descrip">
        <a href="{{ post.url }}" class="post-group-title-link">
          <h2 class="post-group-title">{{ post.title }}</h2>
        </a>
        {% if post.description %}
          <p class="post-group-description">{{ post.description }}</p>
        {% endif %}
      </div>
      <span class="post-date">{{ post.pubDate | date("MMMM d, yyyy") }}</span>
    </div>
    <p class="mentions-count">{{ post.mentions.length }}</p>
  </div>
  <div class="post-group-mentions">
    <div class="mentions-list">
      {% for mention in post.mentions %}
        {% include "mention.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
