---
layout: base.njk
title: proustposting ✦✧ personal canon
---

{% set totalMentions = 0 %}
{% set totalPosts = 0 %}
{% for url, post in mentions.posts %}
  {% set totalPosts = totalPosts + 1 %}
  {% set totalMentions = totalMentions + post.mentions.length %}
{% endfor %}

{% include "header.njk" %}

<main id="mentions-container">
  {% for entry in mentions.posts | sortByDate %}
    {% set url = entry[0] %}
    {% set post = entry[1] %}
    {% include "post-group.njk" %}
  {% endfor %}
</main>

<div id="no-results" class="hidden">No mentions match your search.</div>

{% include "footer.njk" %}
